# Development Things
.env
.env.*
.next
.cache
dev/
dist/
node_modules
functions/lib
functions/src/packages
functions/coverage
functions/.runtimeconfig.json
functions/.runtimeconfig.dev.json

# IAM keys
service-account.json

# Log Files
*.log

# Use Yarn
package-lock.json

# Generated in Travis, use to squelch git logs about that
bundles
.DS_Store

# Firestore config specific to your environment
.firebaserc

# Include things
!.env.sample
